    </section>
    <footer class="site-footer">
      <div class="wrap wrap-wide">
        <div class="grid">
          <div class="footer-info">
            <img src="http://www.gravatar.com/avatar/41846240bdcfece48077ca4f21eb4ae9.png" class="avatar">
          </div>
          <div class="footer-info">
            <h4>About</h4>
            <p>{{ site.short_description }}</p>
            <!--<p><a href="/about" class="button button-dark">Read more <span class="icon icon-right"></span></a></p>-->
          </div>
          <div class="footer-info">
            <h4>Navigation</h4>
            <ul class="unstyled">
              {% for link in site.links %}
                <li><a href="{{ link.url }}" class="button button-dark button-small"><span class="icon icon-{{ link.icon_class }}"></span>{{ link.title }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
        {% if site.author.social %}
          <ul class="social-links grid">
            {% for link in site.author.social %}
              <li class="social-link-item">
                <a href="{{ link.url }}" class="{{ link.network | downcase }} button button-dark button-center" title="{{ link.network }}">
                  <span class="icon icon-{{ link.network | downcase }}"></span>
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </footer>
    <script src="/assets/js/main.js"></script>
  </body>
</html>