    </section>
    <footer class="site-footer">
      <div class="wrap">
        <div class="grid">
          <div class="col col-1-3">
            <a href="/feed.xml" data-button="block dark" title="RSS feed for all articles on this site">
              <span data-icon="rss"></span><span class="label">RSS</span>
            </a>
          </div>
          <div class="col col-1-3">
            <a href="https://github.com/RadLikeWhoa/radlikewhoa.github.io" data-button="block dark" title="GitHub repository for this site">
              <span data-icon="github"></span><span class="label">GitHub</span>
            </a>
          </div>
          <div class="col col-1-3">
            <a href="https://twitter.com/sachaschmid" data-button="block dark" title="Personal Twitter account">
              <span data-icon="twitter"></span><span class="label">Twitter</span>
            </a>
          </div>
          <div class="col">
            <a href="#" id="topLink" data-button="dark center">
              <span class="label">Back to top</span>
            </a>
          </div>
        </div>
      </div>
    </footer>
    <script src="/assets/js/main.js"></script>
  </body>
</html>