<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }} — {% endif %}Sacha Schmid, Front-End Developer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Sacha Schmid">
    <meta name="description" content="{% if page.description %}{{ page.description | truncate: 160, '…' }}{% elsif page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160, '…' }}{% else %}{{ site.description }}{% endif %}">
    <meta name="theme-color" content="#eb724c">
    <meta name="msapplication-TileColor" content="#eb724c">
    <link rel="alternate" href="{{ site.url }}/feed.xml" type="application/atom+xml" title="Sacha Schmid, Front-End Developer">
    <!--[if lte IE 8]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/assets/css/style.css">
  </head>
  <body>
    <a href="#content-start" tabindex="1" class="skip-to-content">Skip to content</a>
    <header class="site-header">
      <div class="wrap">
        <h1 class="site-heading"><a href="/"><span>Sacha Schmid</span></a></h1>
        <nav>
          <input type="checkbox" class="cb-hack" id="menuToggle">
          <ul class="site-nav" data-grid="gutterless">
            <li class="menu-toggle col">
              <label for="menuToggle">
                <a>Menu <span data-icon="list"></span></a>
              </label>
            </li>
            {% for link in site.links %}
              <li class="site-nav-item {% if link.url == page.navigation_match %} is-active {% endif %}" data-col="M1-4">
                <a href="{{ link.url }}" title="{{ link.title }}"><span class="label">{{ link.title }}</span> <span data-icon="{{ link.icon_class }}"></span></a>
              </li>
            {% endfor %}
            <li id="activeItem" class="active-nav-item" data-col="M1-4"></li>
          </ul>
        </nav>
      </div>
    </header>
    <section class="main" id="content-start">
