<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} — {% endif %}{{ site.name }}, Front-End Developer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="{{ site.author.name }}">
    <meta name="description" content="{{ site.tagline }}">
    <link rel="alternate" href="{{ site.url }}/feed.xml" type="application/atom+xml" title="{{ site.name }}">
    <!--[if lte IE 8]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/assets/css/style.css">
  </head>
  <body class="{{ page.page_class }}">
    <a href="#content-start" tabindex="1" class="skip-to-content">Skip to content</a>
    <header class="site-header">
      <div class="wrap">
        <h1 class="site-heading"><a href="/"><span>{{ site.name }}</span></a></h1>
        <nav>
          <input type="checkbox" class="cb-hack" id="menuToggle">
          <ul class="site-nav grid grid--gutterless unstyled">
            <li class="menu-toggle col">
              <label for="menuToggle">
                <a>Menu <span class="icon icon-list"></span></a>
              </label>
            </li>
            {% for link in site.links %}
              <li class="site-nav-item col med-col-1-4 {% if link.url == page.navigation_match %} is-active {% endif %}">
                <a href="{{ link.url }}" title="{{ link.title }}"><span class="label">{{ link.title }}</span> <span class="icon icon-{{ link.icon_class }}"></span></a>
              </li>
            {% endfor %}
            <li class="active-nav-item med-col-1-4"></li>
          </ul>
        </nav>
      </div>
    </header>
    <section class="main" id="content-start">
