{% capture icon %}/assets/img/{{ include.project.title | downcase | replace: ' ', '-' | replace: '?', '' | replace: '!', '' }}/icon{% endcapture %}
{% capture start %}{{ project.date | date: "%Y" }}{% endcapture %}
{% assign start = start | plus: 0 %}

<article class="post-inline">
  <div data-grid="{{ include.class }}">
    <div data-col="M1-3">
      <a href="{{ include.project.url }}" class="project-link">
        <div class="icon-well" data-pattern="{{ include.project.pattern }}" style="background-color: {{ include.project.background }}"><img src="{{ icon }}.svg" alt="{{ include.project.title }} icon"></div>
      </a>
    </div>
    <div data-col="M2-3">
      <h3 class="project-title"><a href="{{ include.project.url }}">{{ include.project.title }}</a></h3>
      <div class="project-intro">
        <p><span class="faded">{% unless project.end %}since {% endunless %}{{ start }}{% if project.end and project.end != start %} – {{ project.end }}{% endif %} —</span> {{ include.project.excerpt | strip_html }}</p>
      </div>
      {% include tags.html tags = project.tags %}
      <a href="{{ include.project.url }}">Read more &raquo;</a>
    </div>
  </div>
</article>
