{% capture style %}
  {% for prop in include.project.pattern %}
    {% if prop[0] == "image" %}
      background: {{ prop[1] }};
    {% else %}
      background-{{ prop[0] }}: {{ prop[1] }};
    {% endif %}
  {% endfor %}
{% endcapture %}

{% capture icon %}/assets/img/{{ include.project.title | downcase | replace: ' ', '-' }}{% endcapture %}

<article class="post-inline">
  <div data-grid="{{ include.class }}">
    <div data-col="M1-3">
      <a href="{{ include.project.url }}">
        <div class="icon-well" style="{{ style }}"><img src="{{ icon }}.svg" onerror="this.src='{{ icon }}.png'; this.onerror = null;"></div>
      </a>
    </div>
    <div data-col="M2-3">
      <h3 class="project-title"><a href="{{ include.project.url }}">{{ include.project.title }}</a></h3>
      <div class="project-intro">
        <p><span class="faded">{{ project.date | date: "%Y" }} —</span> {{ include.project.excerpt | strip_html }}</p>
      </div>
      {% include tags.html tags = project.tags style = "inline" %}
      <a href="{{ include.project.url }}">Read more &raquo;</a>
    </div>
  </div>
</article>