<article class="post-inline">
  <div data-grid="{{ include.class }}">
    <div data-col="M1-3">
      <a href="{{ include.project.url }}">
        <div class="icon-well" style="background: {{ include.project.pattern.gradient }}; background-size: {{ include.project.pattern.size }}; background-position: {{ include.project.pattern.position }}"><img src="/assets/img/{{ include.project.title | replace: ' ', '-' }}.svg" onerror="this.src='/assets/img/{{ include.project.title | replace: ' ', '-' }}.png'"></div>
      </a>
    </div>
    <div data-col="M2-3">
      <h3 class="project-title"><a href="{{ include.project.url }}">{{ include.project.title }}</a></h3>
      <div class="project-intro">
        <p><span class="faded">{{ project.date | date: "%Y" }} —</span> {{ include.project.excerpt | strip_html }}</p>
      </div>
      {% include tags.html tags = project.tags style = "inline" %}
      <a href="{{ include.project.url }}">Read more &raquo;</a>
    </div>
  </div>
</article>