<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-title" content="Sacha Schmid">
    <meta name="author" content="Sacha Schmid">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="icon" href="/favicon.png">
    <link rel="icon" sizes="192x192" href="/apple-touch-icon.png">
    <meta name="theme-color" content="#e95e7a">
    <meta name="msapplication-TileColor" content="#e95e7a">
    <meta name="msapplication-TileImage" content="/apple-touch-icon.png">
    <link rel="alternate" href="{{ site.url }}/feed.xml" type="application/rss+xml" title="All Articles">
    <link rel="stylesheet" href="/assets/css/style.css?v={{ site.data.assets.style }}">
    {% seo %}
  </head>
  <body>
    <a id="skip" href="#content-start" tabindex="1" class="skip-to-content">Skip to content</a>
