* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #333;
  background-color: $main;
}

.wrap {
  max-width: 40em;
  padding: 0 1.5em;
  margin: 0 auto;
}

.site-intro {
  margin-bottom: 3em;

  p {
    margin-bottom: 0;
    font-size: 1.3em;
    line-height: 1.54;
  }
}

.section-heading {
  @include rem(padding, 1.5rem 0);
  @include rem(margin-bottom, 3rem);
  text-align: center;
  background-color: $control-light;
  border-radius: 5px;
}