.unstyled {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.small {
  font-size: 0.8em;
  line-height: 1.875;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}