.unstyled {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.break-wrap {
  white-space: pre-wrap;
  word-break: break-all;
}