a {
  color: $highlight;
  text-decoration: none;

  .post & {
    border-bottom: 1px solid transparent;
    -webkit-transition: border-bottom-color 0.15s ease-in-out;

    &:hover {
      border-bottom-color: currentcolor;
    }
  }
}