.about-header {
  display: flex;

  p {
    @include at-least(m) {
      align-self: center;
      background-color: $main;
      padding: 1.5em 0 1.5em 1.5em;
      margin-left: -1.5em;
      border-radius: 5px;
    }
  }

  @include up-to(m) {
    flex-direction: column;
  }
}

.avatar-container {
  width: 10em;
  height: 10em;
  margin-bottom: 1.5em;

  @include up-to(m) {
    width: 100%;
  }
}

.avatar {
  display: block;
  width: 10em;
  height: 10em;
  margin: 0 auto;
  border-radius: 5px;

  @include at-least(m) {
    float: left;
    margin: 0;
  }
}

.sg-section {
  margin-bottom: 1.5em;

  &:last-child {
    margin-bottom: -1.5em;
  }
}

.styleguide [data-col] {
  margin-bottom: 1.5em;
}

.sg-tag {
  display: block;
  padding: 0.75em;
  text-align: center;
  background-color: $control-light;
  border-radius: 5px;
}

.sg-label {
  display: block;
  margin-top: 0.5em;
  text-align: center;
}
