* {
  box-sizing: border-box;
}

::selection {
  background-color: rgba($highlight, 0.2);
}

body {
  margin: 0;
  color: $default;
  background-color: $footer;
}

.wrap {
  max-width: 40em;
  padding: 0 1.5em;
  margin: 0 auto;
}

.site-intro {
  margin-bottom: 0;
  font-size: 1.3em;
  line-height: 1.54;
}

.home-section {
  margin-bottom: 3em;

  &:last-child {
    margin-bottom: 1.5em;
  }
}

.section-heading {
  @include rem(padding, 1.5rem 0);
  @include rem(margin-bottom, 3rem);
  text-align: center;
  background-color: $control-light;
  border-radius: 5px;
}

.main {
  padding-top: 3em;
  padding-bottom: 1.5em;
  background-color: $main;
}