* {
  box-sizing: border-box;
}

::selection {
  background-color: rgba($highlight, 0.2);
}

body {
  margin: 0;
  color: $default;
  background-color: $footer;
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
p,
ul,
ol,
pre,
figure {
  margin-top: 0;
  margin-bottom: 1.5em;
}

.wrap {
  max-width: 40em;
  padding: 0 1.5em;
  margin: 0 auto;
}

.site-intro {
  margin-bottom: 0;
}

.home-section {
  margin-bottom: 3em;

  &:last-child {
    margin-bottom: 1.5em;
  }
}

.section-heading {
  padding: 0.882em 0;
  text-align: center;
  background-color: $control-light;
  border-radius: 5px;
}

.main {
  padding-top: 3em;
  padding-bottom: 1.5em;
  background-color: $main;
  box-shadow: 0 2px 4px rgba($default, 0.85);
}
