[data-block] {
  @extend %wide-bordered;

  padding: 90px 1.5em 1.5em;
  color: #fff;
  background-repeat: repeat-x, no-repeat;
  border: none;
  box-shadow: 0 2px 4px rgba(#333, 0.15);
  animation: wave 20s linear infinite;
  animation-play-state: paused;
  will-change: background-position;

  &:hover {
    animation-play-state: running;
  }

  code {
    background-color: $code;
  }
}

@keyframes wave {
  0% {
    background-position: 0 0, 0 0;
  }

  100% {
    background-position: -360px 0, 0 0;
  }
}

$blocks: (
  "warning": (
    "background": #e85d5d,
    "link": #e8c65d
  ),
  "info": (
    "background": #5db3e8,
    "link": #e8c65d
  ),
  "share": (
    "background": #6ee95d,
    "link": #e95e7a
  )
);

@each $name, $block in $blocks {
  [data-block="#{$name}"] {
    background-image:
      url(/assets/img/waves/#{$name}.svg),
      linear-gradient(to bottom, #fff 70px, map-get($block, "background") 70px);

    a {
      color: map-get($block, "link");
    }
  }
}
