.button {
  @include rem(padding, 0.75rem 1.5rem);
  display: inline-block;
  font-weight: bold;
  color: $main;
  background-color: $highlight;
  border-radius: 5px;
  transition: background-color 0.25s ease-in-out;

  .label {
    border-bottom: 1px solid transparent;
    transition: border-bottom-color 0.25s ease-in-out;
  }

  &:hover,
  &:focus {
    background-color: darken($highlight, 5%);

    .label {
      border-bottom-color: $main;
    }
  }
}

.button-block {
  display: block;
}

.button-center {
  display: block;
  text-align: center;
}

.button-disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}

.button-dark {
  background-color: $control-dark;

  &:hover,
  &:focus {
    background-color: darken($control-dark, 5%);

    .label {
      border-bottom-color: $main;
    }
  }
}

.button-small {
  @include rem(padding, 0.25rem 0.75rem);
}