pre,
code {
  margin-bottom: 2em;
  font-size: 0.75em;
  font-family: Source Code Pro, Consolas, Lucida Console, Monaco, monospace;
  line-height: 2;
}

code {
  padding: 0.1em 0.25em;
  color: #586E75;
  background-color: rgba($code, 0.7);
  border: 1px solid rgba(darken($code, 10%), 0.7);
  border-radius: 3px;

  pre & {
    padding: 0;
    font-size: 1em;
    background-color: transparent;
    border: 0;
    border-radius: 0;
  }
}

div.highlighter-rouge {
  @extend %wide-bordered;

  position: relative;
  border-color: rgba(darken($code, 10%), 0.8);
  margin-bottom: 1.5em;

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1.5em;
    pointer-events: none;
    z-index: 10;
  }

  &:before {
    left: 0;
    background-image: linear-gradient(to right, $code, rgba($code, 0));
  }

  &:after {
    right: 0;
    background-image: linear-gradient(to left, $code, rgba($code, 0));
  }

  pre {
    padding: 0.75em 2em;
    margin-bottom: 0;
    background-color: $code;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    @include at-least(m) {
      border-radius: 2px;
    }
  }

  /* Generic / Error */

  .g,
  .err {
    color: #6E8991;
  }

  /* Name / Literal */

  .n,
  .l {
    color: #6E8991;
  }

  /* Comment.Multiline / Comment.Preproc / Comment.Single / Comment.Special */

  .cm,
  .cp,
  .c1,
  .cs {
    color: #BBC4C4;
  }

  /* Generic.Output / Generic.Prompt / Generic.Strong */

  .go,
  .gp,
  .gs {
    color: #6E8991;
  }

  /* Keyword.Namespace / Keyword.Pseudo */

  .kn,
  .kp {
    color: #859900;
  }

  /* Literal.Number / Literal.String */

  .m,
  .s {
    color: #2AA198;
  }

  /* Name.Entity / Name.Exception */

  .ni,
  .ne {
    color: #CB4B16;
  }

  /* Name.Label / Name.Namespace / Name.Other / Name.Property */

  .nl,
  .nn,
  .nx,
  .py {
    color: #6E8991;
  }

  /* Name.Tag / Name.Variable */

  .nt,
  .nv {
    color: #268BD2;
  }

  /* Literal.Number.Float / Literal.Number.Hex / Literal.Number.Integer / Literal.Number.Oct */

  .mf,
  .mh,
  .mi,
  .mo {
    color: #2AA198;
  }

  /* Literal.String.Interpol / Literal.String.Other */

  .si,
  .sx {
    color: #2AA198;
  }

  /* Literal.String.Single / Literal.String.Symbol */

  .s1,
  .ss {
    color: #2AA198;
  }

  /* Name.Builtin.Pseudo / Name.Variable.Class / Name.Variable.Global / Name.Variable.Instance */

  .bp,
  .vc,
  .vg,
  .vi {
    color: #268BD2;
  }

  .c  { color: #BBC4C4; } /* Comment */
  .k  { color: #859900; } /* Keyword */
  .o  { color: #859900; } /* Operator */
  .x  { color: #CB4B16; } /* Other */
  .p  { color: #6E8991; } /* Punctuation */
  .gd { color: #2AA198; } /* Generic.Deleted */
  .ge { color: #6E8991; } /* Generic.Emph */
  .gr { color: #DC322F; } /* Generic.Error */
  .gh { color: #CB4B16; } /* Generic.Heading */
  .gi { color: #859900; } /* Generic.Inserted */
  .gu { color: #CB4B16; } /* Generic.Subheading */
  .gt { color: #6E8991; } /* Generic.Traceback */
  .kc { color: #CB4B16; } /* Keyword.Constant */
  .kd { color: #268BD2; } /* Keyword.Declaration */
  .kr { color: #268BD2; } /* Keyword.Reserved */
  .kt { color: #DC322F; } /* Keyword.Type */
  .ld { color: #6E8991; } /* Literal.Date */
  .na { color: #6E8991; } /* Name.Attribute */
  .nb { color: #B58900; } /* Name.Builtin */
  .nc { color: #268BD2; } /* Name.Class */
  .no { color: #CB4B16; } /* Name.Constant */
  .nd { color: #268BD2; } /* Name.Decorator */
  .nf { color: #268BD2; } /* Name.Function */
  .ow { color: #859900; } /* Operator.Word */
  .w  { color: #6E8991; } /* Text.Whitespace */
  .sb { color: #6E8991; } /* Literal.String.Backtick */
  .sc { color: #2AA198; } /* Literal.String.Char */
  .sd { color: #6E8991; } /* Literal.String.Doc */
  .s2 { color: #2AA198; } /* Literal.String.Double */
  .se { color: #CB4B16; } /* Literal.String.Escape */
  .sh { color: #6E8991; } /* Literal.String.Heredoc */
  .sr { color: #DC322F; } /* Literal.String.Regex */
  .il { color: #2AA198; } /* Literal.Number.Integer.Long */
}
