.site-footer {
  padding: 3em 0 1.5em;
  color: $main;
  background-color: $footer;
}

.footer-content {
  margin-bottom: 1.5em;

  a {
    display: block;
    color: $main;
  }

  .icon {
    float: right;
    padding-top: 0.25em;
  }
}

.social-links {
  position: relative;
  padding-left: 0;
  margin-bottom: 0;
}

.copyright {
  text-align: center;
}