.site-footer {
  padding: 3em 0 1.5em;
  color: $main;
  background-color: $footer;
}

.footer-content {
  margin-bottom: 1.5em;

  a {
    display: block;
    color: $main;

    @include up-to(m) {
      text-align: center;
    }
  }

  .icon {
    @include at-least(m) {
      float: right;
      padding-top: 0.25em;
    }
  }
}

.copyright {
  text-align: center;
}

.opt-label {
  @include up-to(m) {
    display: none;
  }
}