.skip-to-content {
  position: absolute;
  height: 1px;
  width: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;

  &:focus {
    top: 0.25em;
    left: 0.25em;
    height: auto;
    width: auto;
    color: $main;
    clip: auto;
    z-index: 1;
  }
}

.site-header {
  background-color: $highlight;
  text-align: center;

  a {
    display: block;
    color: $main;
  }
}

.site-heading {
  margin-bottom: 0;

  a {
    @include rem(padding, 1.5rem 0);
    background-color: transparent;
    border-bottom: 0;
    transition: background-color 0.25s ease-in-out;

    span {
      border-bottom: 1px solid transparent;
      transition: border-bottom-color 0.25s ease-in-out;
    }

    &:hover,
    &:focus {
      background-color: rgba(#000, 0.06);
    }

    &:focus span {
      border-bottom-color: currentColor;
    }

    @include at-least(s) {
      @include rem(padding, 2rem 0);
    }
  }
}

.site-nav {
  @extend %unstyled-list;

  position: relative;
  margin-bottom: 0;

  .cb-hack:checked + & {
    max-height: 18em;
  }

  @include up-to(m) {
    max-height: 3em;
    overflow: hidden;
    transition: max-height 0.25s ease-in-out;
    z-index: 10;
  }

  @include at-least(m) {
    &:hover .site-nav-item a,
    &:focus .site-nav-item a {
      color: $main;
      background-color: transparent;
    }
  }
}

.cb-hack {
  display: none;
}

.site-nav-item,
.menu-toggle {
  @include up-to(m) {
    background-color: $main;

    a {
      color: $highlight;
    }

    [data-icon] {
      float: right;
      padding-top: 0.25em;
    }
  }
}

.site-nav-item {
  @for $i from 2 through $nav-item-count + 1 {
    #{"&:nth-child(#{$i}).is-active ~ .active-nav-item"},
    #{"&:nth-child(#{$i}):hover ~ li.active-nav-item"},
    #{"&:nth-child(#{$i}):focus ~ li.active-nav-item"} {
      transform: translateX(($i - 2) * 100%);
    }
  }

  @include up-to(m) {
    text-align: left;
    border-top: 1px solid $control-light;

    &.is-active a {
      font-weight: bold;
    }
  }

  @include at-least(m) {
    &.is-active a,
    .site-nav &:hover a,
    .site-nav &:focus a {
      color: $highlight;
    }
  }

  a {
    position: relative;
    padding: 0.75em 1.5em;
    border-bottom: 0;
    z-index: 10;
    transition: color 0.25s ease-in-out;

    @include at-least(m) {
      padding: 1.5em 0;
    }
  }

  .label {
    @include at-least(m) {
      display: none;
    }
  }
}

.active-nav-item {
  @include at-least(m) {
    position: absolute;
    height: 4.5em;
    background-color: $main;
    border-radius: 5px 5px 0 0;
    pointer-events: none;
    z-index: 5;

    &.transitioning {
      transition: transform 0.25s ease-in-out;
    }
  }
}

.menu-toggle {
  border-radius: 5px 5px 0 0;
  cursor: pointer;

  label {
    display: block;
    cursor: pointer;
  }

  a {
    padding: 0.75em 1.5em;
    border-bottom: 0;
  }

  @include at-least(m) {
    display: none;
  }
}