.skip-to-content {
  position: absolute;
  height: 1px;
  width: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;

  &:focus {
    top: 0.25em;
    left: 0.25em;
    height: auto;
    width: auto;
    color: $main;
    clip: auto;
    z-index: 1;
  }
}

.site-header {
  position: relative;
  background-color: $highlight;
  box-shadow: 0 2px 4px rgba($default, 0.25);

  a {
    display: block;
    color: $main;
  }
}

.site-heading {
  margin-bottom: 0;

  a {
    display: inline-block;
    padding: 0.75em 0;
    font-weight: normal;
    background-color: transparent;
    border-bottom: 0;
    transition: background-color 0.25s ease-in-out;
    will-change: background-color;

    &:hover,
    &:focus {
      background-color: rgba(#000, 0.06);
    }

    @include up-to(l) {
      text-align: center;
    }

    @include at-least(s) {
      padding: 0.75em;
    }
  }
}

.site-logo {
  height: 1em;
  width: 1.1em;
  position: relative;
  top: 0.15em;
  will-change: transform;

  .site-heading:hover & {
    animation: boink 0.25s ease-in-out;
  }

  @include at-least(l) {
    top: 0.2em;
    float: left;
    margin-right: 0.5em;
  }
}

@keyframes boink {
  50% {
    transform: rotateZ(-5deg);
  }
}

.site-nav {
  @extend %unstyled-list;

  position: relative;
  margin-bottom: 0;
  text-align: center;

  .cb-hack:checked + & {
    max-height: 18em;
  }

  @include up-to(m) {
    max-height: 3em;
    margin: 0 1.5em 1.5em;
    overflow: hidden;
    z-index: 10;

    .has-transitions & {
      transition: max-height 0.25s ease-in-out;
    }
  }

  @include at-least(m) {
    margin: 0 1.5em 1.5em;
    padding: 0;
    max-width: none;

    &:hover .site-nav-item.is-active {
      background-color: rgba(255, 255, 255, 0);

      .label {
        transform: translateY(1.5em);
        opacity: 0;
      }

      [data-icon] {
        opacity: 1;
      }
    }

    .site-nav-item.is-active:hover {
      .label {
        transform: translateY(0);
        opacity: 1;
      }

      [data-icon] {
        opacity: 0;
      }
    }
  }

  @include at-least(l) {
    margin: 1.5em 0.75em 0 0;
  }
}

.cb-hack {
  display: none;
}

.site-nav .site-nav-item,
.menu-toggle {
  @include up-to(m) {
    color: $highlight;
    background-color: $main;
    transition: background-color 0.25s ease-in-out;
    will-change: background-color;

    a {
      color: $highlight;
    }

    &:nth-child(2) {
      border-radius: 5px 5px 0 0;
    }

    &:nth-last-child(2) {
      border-radius: 0 0 5px 5px;
    }

    &:hover,
    &:focus {
      background-color: darken($main, 3%);
    }

    [data-icon] {
      float: right;
      padding-top: 0.25em;
    }
  }
}

.site-nav .site-nav-item {
  position: relative;
  padding: 0.75em 1.5em;
  margin-bottom: 0;
  border-bottom: 0;
  z-index: 10;
  transition: background-color 0.35s ease-in-out;
  will-change: background-color;

  @for $i from 2 through $nav-item-count + 1 {
    &:nth-child(#{$i}).is-active ~ .active-nav-item,
    &:nth-child(#{$i}):hover ~ li.active-nav-item,
    &:nth-child(#{$i}):focus ~ li.active-nav-item {
      transform: translateX(($i - 2) * 100%);
    }
  }

  @include up-to(m) {
    text-align: left;
    border-top: 1px solid $control-light;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    transition-delay: 0.1s;
    will-change: opacity;

    .cb-hack:checked + & {
      opacity: 1;
      transition-delay: 0;
    }

    &:first-of-type {
      border-top: none;
    }

    &.is-active {
      font-weight: bold;
    }
  }

  @include at-least(m) {
    padding: 0.75em 0;

    .label {
      position: absolute;
      top: 0.75em;
      left: 0;
      right: 0;
      bottom: 1.5em;
      transform: translateY(1.5em);
      opacity: 0;
      color: $highlight;
      pointer-events: none;
    }

    [data-icon],
    .label {
      transition: transform 0.35s ease-in-out, opacity 0.35s ease-in-out;
      will-change: opacity, transform;
    }

    &.is-active,
    &:hover,
    &:focus {
      [data-icon] {
        opacity: 0;
      }

      .label {
        transform: translateY(0);
        opacity: 1;
      }
    }

    &.is-active {
      background-color: rgba($main, 0.5);
      border-radius: 5px;
      transition: background-color 0.25s ease-in-out 0.25s, color 0.25s ease-in-out;
      will-change: background-color, color;
    }
  }
}

.site-nav:hover .site-nav-item {
  @include at-least(m) {
    transition: none;
  }
}

.active-nav-item {
  @include at-least(m) {
    position: absolute;
    height: 3em;
    background-color: $main;
    border-radius: 5px;
    pointer-events: none;
    z-index: 5;

    .has-transitions & {
      transition: transform 0.35s ease-in-out;
      will-change: transform;
    }
  }
}

.menu-toggle {
  margin-bottom: 1.5em;
  text-align: left;
  border-radius: 5px;
  cursor: pointer;
  transition: none;

  label {
    display: block;
    cursor: pointer;
  }

  a {
    padding: 0.75em 1.5em;
    border-bottom: 0;
  }

  @include at-least(m) {
    display: none;
  }
}
