@mixin rem ($property, $values) {
  $px-values: ();
  $leave: auto 0 inherit initial;

  @each $value in $values {
    @if index($leave, $value) == false {
      $px-values: append($px-values, $value / 1rem * $rem-fallback);
    } @else {
      $px-values: append($px-values, $value);
    }
  }

  #{$property}: $px-values;
  #{$property}: $values;
}

@function _construct-heading ($level, $class) {
  $selector: "h#{$level}, ";

  @if $class {
    $selector: $selector + ".h#{$level}";
  }

  @return $selector;
}

@function headings ($level: 1, $class: true) {
  $selector: "";

  @if length($level) > 1 {
    @for $i from nth($level, 1) through nth($level, 3) {
      $selector: $selector + _construct-heading($i, $class)
    }
  } @else {
    $selector: _construct-heading($level, $class);
  }

  @return $selector;
}