.post-full {
  margin-bottom: 1.5em;
}

.post-inline,
.post-archive {
  border-bottom: 1px solid rgba(#ccc, 0.45);

  &:last-of-type {
    padding-bottom: 0;
    border-bottom: 0;
  }
}

.post-inline {
  padding-bottom: 1.5em;

  @include at-least(m) {
    padding-bottom: 3em;
    margin-bottom: 3em;
  }
}

.post-inline,
.post-archive {
  margin-bottom: 1.5em;
}

.post-link-entry {
  margin-bottom: 1.5em;

  @include at-least(m) {
    &:nth-child(2n+1) {
      clear: both;
    }
  }
}

.post-link {
  @extend %truncate;

  display: inline-block;
  max-width: 100%;
}

.post-meta {
  margin-bottom: 1.5em;
  color: #aaa;
}