.post-full {
  margin-bottom: 1.5em;
}

.post-inline,
.post-archive {
  margin-bottom: 1.5em;
  border-bottom: 1px solid rgba(#ccc, 0.45);

  &:last-of-type {
    padding-bottom: 0;
    border-bottom: 0;
  }
}

.post-inline {
  padding-bottom: 1.5em;
  will-change: opacity;

  &:last-of-type {
    margin-bottom: 1.5em;
  }

  @include at-least(m) {
    padding-bottom: 3em;
    margin-bottom: 3em;
  }
}

.post-link-entry {
  margin-bottom: 1.5em;

  @include at-least(m) {
    &:nth-child(2n+1) {
      clear: both;
    }
  }
}

.post-link {
  @extend %truncate;

  display: inline-block;
  max-width: 100%;
}

.post-meta {
  margin-bottom: 1.5em;
  color: #aaa;
}

.h1.post-title {
  margin-bottom: 0;
}

.entry-content {
  position: relative;
}

[data-marginalia] {
  @extend .faded;

  font-size: 0.75em;
  line-height: 2;

  @include at-least(xl) {
    position: absolute;
    width: 10em;
  }
}

@include at-least(xl) {
  [data-marginalia~="left"] {
    right: 100%;
    margin-right: 1.5em;
    text-align: right;
  }

  [data-marginalia~="right"] {
    left: 100%;
    margin-left: 1.5em;
  }
}
