.icon-well {
  width: 100%;
  padding-bottom: 25%;
  margin-bottom: 1.5em;
  border-radius: 5px;

  @include at-least(m) {
    padding-bottom: 15.5em;
    margin-bottom: 0;
  }
}

.project-intro {
  position: relative;
  height: 7.5em;
  overflow: hidden;
}

.tag-list {
  position: relative;
  height: 2em;
  margin-bottom: 1.5em;
  white-space: nowrap;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 1.5em;
    background-image: linear-gradient(to right, rgba($main, 0), $main);
  }
}

.tag {
  display: inline-block;
  padding: 0.25em 0.75em;
  margin-right: 0.5em;
  margin-left: -0.25em;
  background-color: $control-light;
  border-radius: 5px;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}