.icon-well {
  width: 100%;
  padding-bottom: 25%;
  margin-bottom: 1.5em;
  border-radius: 5px;

  @include at-least(m) {
    padding-bottom: 15.5em;
    margin-bottom: 0;
  }
}

.hero-img-wrapper {
  margin-left: -1.5em;
  margin-right: -1.5em;
  margin-bottom: 1.5em;
}

.hero-img {
  width: 100%;
  border: 1px solid rgba(204, 204, 204, 0.45);

  @include up-to(m) {
    border-left: 0;
    border-right: 0;
  }
}

.project-title a {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.project-inline-intro {
  position: relative;
  height: 7.5em;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 3em;
    background-image: linear-gradient(to bottom, rgba($main, 0), $main 50%);
  }
}

.project-intro {
  font-size: 1.3em;
  line-height: 1.54;
}

.project-meta {
  margin-bottom: 1.5em;
  border: 1px solid rgba(204, 204, 204, 0.45);
  border-radius: 3px;
}

.project-meta-item {
  border-bottom: 1px solid rgba(204, 204, 204, 0.45);

  &:last-child {
    border-bottom: 0;
  }

  @include at-least(m) {
    border-right: 1px solid rgba(204, 204, 204, 0.45);
    border-bottom: 0;

    &:last-child {
      border-right: 0;
    }
  }
}

.project-meta-label {
  display: block;
  padding: 0.25em 0.75em;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(204, 204, 204, 0.45);
}

.project-meta-body {
  display: block;
  padding: 0.25em 0.75em;

  a {
    display: inline-block;
  }

  a, & {
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.tag-list {
  position: relative;
  height: 2em;
  margin-bottom: 1.5em;
  white-space: nowrap;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 1.5em;
    background-image: linear-gradient(to right, rgba($main, 0), $main);
  }
}

.tag-list-full {
  display: flex;
  height: auto;
  margin-right: -0.5em;
  margin-bottom: 1em;
  flex-flow: row wrap;
  white-space: normal;

  &::after {
    content: none;
  }
}

.tag {
  display: inline-block;
  padding: 0.25em 0.75em;
  margin-right: 0.5em;
  margin-left: -0.25em;
  background-color: $control-light;
  border-radius: 5px;
  vertical-align: top;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  .tag-list-full & {
    display: block;
    flex: 1 0 auto;
    margin-left: 0;
    margin-bottom: 0.5em;
    text-align: center;

    &:last-child {
      margin-right: 0.5em;
    }
  }
}