.social-list {
  padding-left: 0;
  list-style: none;
}

$networks:
  Dribbble #ea4c89,
  Pinboard #4C4CBF,
  GitHub #4183c4,
  Twitter #55acee,
  Instagram #4A85B5,
  "last.fm" #CC4E56;

@each $network in $networks {
  .social-item [title="#{nth($network, 1)}"] {
    background-color: nth($network, 2);

    &:hover,
    &:focus {
      background-color: darken(nth($network, 2), 10%);
    }
  }
}