@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: local("Source Sans Pro"), local("SourceSansPro-Regular"), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v6/ODelI1aHBYDBqgeIAH2zlNHq-FFgoDNV3GTKpHwuvtI.woff) format("woff");
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v6/toadOcfmlt9b38dHJxOBGIqjGYJUyOXcBwUQbRaNH6c.woff) format("woff");
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: italic;
  font-weight: 400;
  src: local("Source Sans Pro Italic"), local("SourceSansPro-It"), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v6/M2Jd71oPJhLKp0zdtTvoM_bce-VcyLJMRR1FC9qWbU8.woff) format("woff");
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: italic;
  font-weight: 700;
  src: local("Source Sans Pro Bold Italic"), local("SourceSansPro-BoldIt"), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v6/fpTVHK8qsXbIeTHTrnQH6PgYMAt3u4NmhhzLLLPJ5qH3rGVtsTkPsbDajuO5ueQw.woff) format("woff");
}

@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
  src: local("Source Code Pro"), local("SourceCodePro-Regular"), url(http://themes.googleusercontent.com/static/fonts/sourcecodepro/v3/mrl8jkM18OlOQN8JLgasD9Hq-FFgoDNV3GTKpHwuvtI.woff) format("woff");
}

@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 700;
  src: local("Source Code Pro Bold"), local("SourceCodePro-Bold"), url(http://themes.googleusercontent.com/static/fonts/sourcecodepro/v3/leqv3v-yTsJNC7nFznSMqYqjGYJUyOXcBwUQbRaNH6c.woff) format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat-Bold"), url(http://themes.googleusercontent.com/static/fonts/montserrat/v3/IQHow_FEYlDC4Gzy_m8fcnbFhgvWbfSbdVg11QabG8w.woff) format("woff");
}

html {
  font: 100%/1.5 "Source Sans Pro", "Helvetica Neue", sans-serif;

  @include at-least(s) {
    font-size: 112.5%;
  }

  @include at-least(m) {
    font-size: 125%;
  }

  @include at-least(l) {
    font-size: 137.5%;
  }
}

h1,
h2,
h3 {
  font-family: Montserrat, "Source Sans Pro", "Helvetica Neue", sans-serif;
}

h1,
.h1 {
  font-size: 2em;
  line-height: 1.5;
}

h2,
.h2 {
  font-size: 1.7em;
  line-height: 1.765;
}

h3,
.h3 {
  font-size: 1.27em;
  line-height: 1.179;
}

a {
  color: $highlight;
  border-bottom: 1px solid transparent;
  transition: border-bottom-color 0.15s ease-in-out;
  text-decoration: none;

  &:hover,
  &:focus {
    border-bottom-color: currentcolor;
    outline: none;
  }

  &:target {
    outline: none;
    background-color: rgba($highlight, 0.15);
  }
}

abbr {
  border-bottom: 1px dotted;
  cursor: help;
}

.hero-text {
  font-size: 1.3em;
  line-height: 1.54;
}