$rem-fallback: 16px;

$default: #333;
$highlight: #EC6F66;
$main: #f9f9f9;
$code: #FDF6E3;
$warning: #FA3232;
$info: adjust-hue($warning, -150deg);
$share: adjust-hue($warning, -240deg);
$footer: #444;
$control-light: darken($main, 6%);
$control-dark: darken($footer, 10%);

$nav-item-count: 4;

$media-queries: (
  's': 30em,
  'm': 45em,
  'l': 60em,
  'xl': 70em
);

$column-prefixes: (
  'M': '(min-width: #{map-get($media-queries, "m")})',
  'L': '(min-width: #{map-get($media-queries, "l")})'
);

$columns: 2 (1), 3 (1, 2), 4 (1), 5 (1, 2);
