$rem-fallback: 16px;

$default: #333;
$highlight: #eb724c;
$main: #f9f9f9;
$code: #FDF6E3;
$warning: #FA3232;
$info: adjust-hue($warning, -150deg);
$share: adjust-hue($warning, -230deg);
$footer: #444;
$control-light: darken($main, 6%);
$control-dark: darken($footer, 10%);

$nav-item-count: 4;

$column-prefixes: (
  'm': 'M'
);

$columns: 2 3 4 5;

$media-queries: (
  's': 30em,
  'm': 45em,
  'l': 60em
);